body {
    font-family: 'Poppins', sans-serif;
}

section {
    background-color: white;
    border: solid black 1px;
}

.logo {
    height:80px;
    width:80px;
    margin: 30px;
    border: solid white 1px;
    border-radius: 30px;
}

/* CSS area HERO */
.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 40px;
    margin-bottom: 200px;
    font-family: 'Silkscreen';
}

.socials {
    margin-bottom: 140px;
    margin-right: 20px;
}

.social-icon {
    margin: 10px;
}

.button {
    width: 350px;
    height: 45px;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
    background-color: coral;

}

.button:hover {
    background-color: lightcoral
}

.button:active {
    background-color: grey;
    color: lightgrey;
}

/* End of CSS area hero */

/* info gwe section */
.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.headshot {
    width: 400px;
    border-radius: 100px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

h2 {
    font-size: 50px;
    font-weight: 600;
}

/* END of info gwe section */

/* projects section */
.project-card {
    width: 300px;
    height: 500px;
    border: 1px solid black;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.sub-section-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* END of projects section */
footer {
    height: 500px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
    margin-right: 3%;
}

li{

    text-decoration: none;
}

h1 {
    font-size: 80px;
    margin-bottom: -20px;
   
}


