body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    background-color: white;
}


.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}


/*Media query responsive*/
@media only screen and (max-width: 1000px) {
    .main-container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }
    nav ul {
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
        margin: 0px;
    }

    .logo {
        display: none;
    }

    #nav-list.show {
        position:relative;
        bottom: 50px;
        display: block;
    }    
}
/*END of Media query responsive*/





/* Navbar & Header */
nav {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    background-color: #1c1d25;
    height: 110px;
}

.logo {
    position: relative;
    bottom: 18px;
    height:80px;
    width:80px;
    margin: 30px;
    border: solid white 1px;
    border-radius: 30px;
    
}

nav ul {
    display: flex;
    list-style-type: none;
    width: 600px;
    justify-content: space-around;
    font-size: 30px;
    margin-right: 3%;
}

li{
    text-decoration: none;
}

h1 {
    font-size: 80px;
    margin-bottom: -20px;
   
}

a{
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
}

/* END of Navbar & Header */

/*Profile bar*/
.main-container {
    display: flex;
}

.profile-bar {
    margin: 2rem;
    /*border: solid black 1px;*/
    width: 400px;
    height: 100vh;
}

.profile-bar img {
    margin-top: 50px;
    width: 400px;
    border-radius: 25px;
}
/*END of Profile*/

/*Bio bar*/
.desc-bar {
    margin: 2rem;
    /* border: solid black 1px; */
    width: 1000px;
    height: 100vh;
}

.bio-text {
    /* border: solid black 1px; */
    /* border-radius: 30px; */
    padding: 1rem;
    margin: 1rem;
    font-size: large;
}

hr{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.skills {
    /* border: solid black 1px; */
    /* border-radius: 30px; */
    padding: 1rem;
    margin: 1rem;
}

.skills ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-size: 30px;
    padding: 50px;
    padding-left: -40px;
}
/*END of bio*/

/*Social bar*/
.social-bar {
    margin: 2rem;
    /* border: solid black 1px; */
    width: 400px;
    height: 100vh;
}
.social-links{
    /* border: solid black 1px;; */
    padding: 1rem;
    margin: 1rem;
}

.social-links img {
    height: 80px;
    width: 80px;
}

/*END of Social bar*/




/*footer*/
footer {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.contact-icon {
    width: 24px;
    height: 24px;
    padding-top: 17px;
    
}

.credentials {
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
    width: 240px;

}
/*END of footer*/
