body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    background-color: white;
}



.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

/* Media Query for responsiveness */
@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }
    #nav-list {
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
        margin: 0px;
    }

    .logo {
        display: none;
    }

    #nav-list.show {
        position:relative;
        bottom: 50px;
        display: block;
    }    
}
/* END of Media Query */



/* Navbar & Header */
nav {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

ul {
    display: flex;
    list-style-type: none;
    width: 600px;
    justify-content: space-around;
    font-size: 30px;
    margin-right: 3%;
}

li{

    text-decoration: none;
}

h1 {
    font-size: 80px;
    margin-bottom: -20px;
   
}

a{
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
}

.logo {
    height:80px;
    width:80px;
    margin: 30px;
    border: solid white 1px;
    border-radius: 30px;
}
/* END of Navbar & Header */



/* CSS area HERO */
.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 40px;
    margin-bottom: 200px;
    font-family: 'Silkscreen';
}

.socials {
    margin-bottom: 140px;
    margin-right: 20px;
}

.social-icon {
    margin: 10px;
}

.button {
    width: 350px;
    height: 45px;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
    background-color: coral;
    text-decoration: none;

}

.button:hover {
    background-color: lightcoral;
    cursor: pointer;
    transition: all ease 0.3s;
}

.button:active {
    background-color: grey;
    color: lightgrey;
}

/* End of CSS area hero */




/* info gwe section */
.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.headshot {
    width: 400px;
    border-radius: 100px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.bio {
    margin-right: 75px;
}

h2 {
    font-size: 50px;
    font-weight: 600;
}

.sub-section p {
    font-size: larger;
}

.aboutme-button {
    border: solid 1px #1c1d25;
    border-radius: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    font-weight: bold;
}

.aboutme-button:hover {
    background-color: rgb(209, 208, 208);
    transition: all ease 0.3s;
}
/* END of info gwe section */




/* projects section */
.sub-section-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    margin-bottom: 3rem;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.subtext {
    font-size: 15px;
    font-weight: 400;
    padding-right: 20px;
    padding-left: 20px;
}

.project-image {
    margin-top: 25px;
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: coral;
}
/* END of projects section */



/* Blog Section */
.sub-section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.05);
}
.sub-section-3 h2 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box{
    width: 350px;
    background-color: white;
    border: 1px solid #ececec;
    margin: 20px;
}

.blog-img{
    width: 100%;
    height: 233px;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span {
 color: black;
 font-size: 0.9rem;
}

.blog-text .blog-title{
    color: #272727;
    font-size: 1.3rem;
    font-weight: 600;
}

.blog-text .blog-title:hover{
    color: #474747;
}

.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a{
    color: #0f0f0f;
}

.blog-text a:hover{
    color: #6d6d6d;
    transition: all ease 0.3s;
}

/* END of blog sexc */




/*footer*/

footer {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.contact-icon {
    width: 24px;
    height: 24px;
    padding-top: 17px;
    
}

.credentials {
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
    width: 240px;

}