body {
    font-family: 'Poppins', sans-serif;
}

section {
    background-color: white;
}

.logo {
    height:80px;
    width:80px;
    margin: 30px;
    border: solid white 1px;
    border-radius: 30px;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }
    #nav-list {
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
        margin: 0px;
    }

    .logo {
        display: none;
    }

    #nav-list.show {
        position:relative;
        bottom: 50px;
        display: block;
    }
    
}

/* CSS area HERO */
.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 40px;
    margin-bottom: 200px;
    font-family: 'Silkscreen';
}

.socials {
    margin-bottom: 140px;
    margin-right: 20px;
}

.social-icon {
    margin: 10px;
}

.button {
    width: 350px;
    height: 45px;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
    background-color: coral;
    text-decoration: none;

}

.button:hover {
    background-color: lightcoral;
    cursor: pointer;
}

.button:active {
    background-color: grey;
    color: lightgrey;
}

/* End of CSS area hero */

/* info gwe section */
.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.headshot {
    width: 400px;
    border-radius: 100px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

h2 {
    font-size: 50px;
    font-weight: 600;
}

.sub-section p {
    font-size: larger;
}

/* END of info gwe section */

/* projects section */
.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.sub-section-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    margin-top: -15px;
}

.subtext {
    font-size: 15px;
    font-weight: 400;
    padding-right: 20px;
    padding-left: 20px;
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: coral;
}
/* END of projects section */



nav {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
    margin-right: 3%;
}

li{

    text-decoration: none;
}

h1 {
    font-size: 80px;
    margin-bottom: -20px;
   
}

a{
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
}

/*footer*/

footer {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.contact-icon {
    width: 24px;
    height: 24px;
    padding-top: 17px;
    
}

.credentials {
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
    width: 240px;

}